# Ignore the virtual environment (where the libraries live)
# The ** means "Look in any folder, not just the top one"
**/Lib/
**/Scripts/
**/Include/
**/etc/
**/share/
**/pyvenv.cfg

# Ignore python cache everywhere
**/__pycache__/
**/*.pyc

# Ignore secrets everywhere
**/.streamlit/secrets.toml